@media screen and (max-width:576px) {
    .menu-container{
        width: 100%;
        flex-direction: column;
    }
    .menu-bar{
        flex-direction: column;
    }
    .menu-bar a{
        margin-top: 20px;
    }
    .menu-header{
        box-shadow: 0;
        background-color: transparent;
    }
    .banner{
        width: 100%;
        flex-direction: column-reverse;
        margin-top: 200px;
        width: auto;

    }
    .banner-discription{
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .banner-img2{
        width: 100%;
    }
    .gamer-theme{
        flex-direction: column;
        text-align: center;
        width: auto;
    }
    .group-img2{
        width: 100%;
    }
    .instraction{
        width: 100%;
        text-align: center;
    }
    .instraction h5{
        font-size: 20px;
    }
    .option{
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .game-varients{
        margin-top: 150px;
        width: auto;
        padding-top: 100px;
    }
    .game-varients h1{
        font-size: 30px;
    }
    .install{
        flex-direction: column;
        width: auto;
    }
    .rider{
        width:auto;
    }
    .proper{
        width:auto;
        text-align:center;
        align-items: center;
    }
    .horse{
        width:100%;
        padding-right: 40px;
    }
    .cat{
        position: relative;
        width: 40%;
        bottom: 150px;
        left: 40px;
    }
    .eco-friend{
        flex-direction: column;
        width: auto;
    }
    .gamess{
        padding: 10px 15px;
    }
    .games-list{
        width: auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .gamess p{
        font-size: 12px;
    }
    footer{
        width:auto;
    }
    .foot{
        width:auto;
    }
    .supports{
            display: grid;
            grid-template-columns: repeat(3,3fr);
           width: 300px;
           margin: 0px auto;

    }
    .supports h4{
        padding-left: 25px;
    }
    .terms li{
        padding-top: 10px;
    }
    .terms{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        width: 250px;
        margin: 0px auto;
    }
}



@media screen and (min-width:576px) and (max-width:992px) {
    .menu-container{
        width: 100%;
        flex-direction: column;
    }
    
    .logo-container{
        text-align: center;
    }
    .menu-bar{
        width: 100%;
        justify-content:space-evenly;
        padding-top: 10px;
    }
    .banner{
        text-align: center;
        flex-direction: column-reverse;
    }

    .gamer-theme{
        flex-direction: column;
        margin: 40px auto;
        text-align: center;
    }
    .banner-image{
        width: 100%;
    }
    .instraction{
        text-align: center;
    }
    .option{
        width: auto;
        justify-content: space-between;
        width: 100%;
    }
    .game-varients{
        margin-top: 300px;
    }
    .game-varients h1{
        font-size: 30px;
    }
}