@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&family=Work+Sans:wght@600;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.logo {
    width:20pxpx; 
    height: auto; 
    vertical-align: middle;
    margin-right: 10px;
}
.menu-container{
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    height: 80px;
    align-items: center;
}
.logo-container h1{
    font-weight:800px;
    font-size:50px;
    padding-left: 20px;
    font-family: Work Sans;
}
.logo-container span{
    color: #FF42A5;
}
.logo-container{
    width: 50%;
    display: flex;
}
.menu-bar a{
    text-decoration: none;
    color: #3C354F;
    font-size: 20px;
   
}
.menu-bar .follow-logo{
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.menu-bar{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-header{
    
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
/*banner section*/
.banner{
    width: 1000px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    
    
}
.banner-discription{
    width: 50%;
}
.banner-discription h2{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
.banner-discription h1{
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn1-banner{
    color: #FFF;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 48px;
    border: 0px;
    margin-top: 20px;
    padding: 10px 20px;
    background-image: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.btn2-banner{
    color: #FFF;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 48px;
    border: 0px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4EC5F7;;
}
.banner-image{
    width: 50%;
}
.image1{
    width: 100%;
}
/*second page*/
.gamer-theme{
    width: 1000px;
    height: 60vh;
    margin: 10px auto;
    display: flex;
    align-items: center;
    
}
.banner-img2{
    width: 50%;
}

.group-img2{
    width: 100%;
    height: 100%;
}
.instraction{
    width: 50%;
    text-align: end;
}
.instraction h3{
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.instraction p{
    color: #6b6576;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}
.btn-more{
    border-radius: 48px;
   background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
   color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 0px;
    margin-top: 15px;
}
.instraction h6{
    color: #7b738b;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    margin-top: 10px;
    font-weight: 500;
    line-height: 30px; /* 187.5% */
}
.instraction h5{
    color: #534C64;
    font-family: Work Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}
/*game play*/
.game-varients{
    width: 1000px;
    margin: 20px auto;
}
.option{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    
}
.choice{
    position: relative;
}
.choice:hover .overlay{
     visibility: visible;
     cursor: pointer;
     border-radius: 10px;
     border: 4px solid #F948B2;
}
.overlay{
    font-size: 40px;
    position: absolute;
    top: 0;
    left: 0;
    height: 250px;
    width: 220px;
    background: gray;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    visibility: hidden;
}
.choice img{
    width: 220px;
    height: 250px;
}
.game-varients h1{
    color: #0B0223;
    text-align:center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.none{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.game-varients p{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}
.class-info{
    padding: 10px 0px;
}
/*4th page*/
.install{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 1000px;
    align-items: center;
    
}
.rider{
    width: 60%;
}
.horse{
    width: 60%;
    padding:20px 0px 0px 100px ;
   
}
.proper{
    width: 40%;
}
.proper h1{
    color: #0B0223;
    text-align: right;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
}
.proper span{
    color: #F948B2;
}
.proper p{
    color: #807891;
    text-align: right;
    font-family: Work Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}
.cat{
    position: relative;
    width: 20%;
    bottom: -40px;
    right: 300px;
}
.thermo{
    width: 80%;
    padding-left: 40px;
}
.thermo h1{
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    padding: 10px 0px ;
}
.thermo p{
    color: #f2e6e6;
    font-family: Work Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; /* 166.667% */
}
.eco-friend{
    width: 1000px;
    align-items: center;
    margin: 40px auto;
    border: 2px solid black;
    display: flex;
    background: linear-gradient(90deg, #e956a2 0%, #c64688 100%);
}
.section2 li{
    list-style: none;
    color: rgb(227, 224, 224);
    font-size: 12px;
}
.section1{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.img-container{
    width: 50%;
}
.group-pic{
    width:100%;
    display: flex;
    justify-content: end;
}
.pp{
 text-align: end;
}
.btn-position{
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 400;
    color:rgb(199, 101, 133);
    background: #FFF;
    border-radius: 20px;
    padding: 10px 20px;
    border: 0px;
    margin-top: 20px;
}
/*game zone*/
.gamess{
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 10px 10px;
}
.gamess:hover{
    border: 2px solid #e956a2 ;
    border-radius: 30px;
    color: #e956a2;
}

.gamess img{
    width: 40px;
}
.games-list{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: 20px auto;
    justify-content: space-evenly;
}
/*footer*/
.fa-brands{
    font-size: 60px;
}
footer{
    background: #0B0223;
   height: 60vh;
    
}
.foot{
    width: 600px;
    margin: 20px auto;
}
.logo-container1{
    display: flex;
   justify-content: center;
   padding-top: 40px;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: #FFF;

}
.logo-container1 span{
    color: #e956a2;
}
.supports{
    display: flex;
    justify-content: space-between;
    padding-top:50px;

}
.supports h4{
    color: #c0bbbb;
    font-size: 12px;
    padding-top: 10px;
}
.terms{
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
}
.terms li{
    list-style: none;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;

}
.copy-right{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    padding-top: 40px;
    
}
